[Unit]
Description=apanel
After=network.target

[Service]
ExecStart=/usr/local/bin/apanel
EnvironmentFile=/etc/apanel/config.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
